//====================================================================================================

.header {

	background: url("@img/header-bg-2.jpg") center top no-repeat;
	min-height: rem(700);
	color: $lightText;
	padding-top: rem(20);
	font-size: rem(14);
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 6400px;
		background: url("@img/wave.svg") repeat-x;
		height: rem(199);
		bottom: -3px;
		left: 0;
		// opacity: .8;

	}

	&::before {
		// background-position: 920px 25px;
		animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
		transform: translate3d(0, 0, 0);
	}

	&::after {
		animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.75s infinite, swell 27s ease -1.25s infinite;
		// background-position: 900px 25px;
	}

	// .header__top

	&__top {}

	// .header__main

	&__main {}
}

@keyframes wave {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -1600px;
	}
}

@keyframes swell {

	0%,
	100% {
		transform: translate3d(0, -5px, 0);
	}

	50% {
		transform: translate3d(0, 0, 0);
	}
}

.top-header {
	margin-bottom: rem(100);

	// .top-header__container

	&__container {
		display: flex;
		@include adaptiveValue("padding-left", 300, 10,1600,1024);
		@include adaptiveValue("padding-right", 300, 10,1600,1024);
	}

	// .top-header__logo

	&__logo {
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(360deg);
	
				}
			}
		}
	
		&::before {
			content: "";
			width: 40px;
			height: 40px;
			display: block;
			position: absolute;
			top: -24px;
			right: -8px;
			transform-origin: 23px 91%;
			transform: rotate(15deg);
			transition: transform .3s ease-out;
			background: url("@img/alien-on-button-header.svg") no-repeat center;
			background-size: cover;
		}
	}

	// .top-header__menu

	&__menu {}

	// .top-header__user

	&__user {}
}

.logo {
	font-size: rem(24);
	font-weight: 900;
	text-transform: uppercase;
	position: relative;



	// .logo__link

	&__link {}
}

.menu {
	position: relative;
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	font-weight: 600;

	@media (max-width:$mobile) {
		display: flex;
		justify-content: flex-end;
		padding: rem(30);
	}

	// .menu__icon

	&__icon {}

	// .menu__body

	&__body {
		color: #fff;

		@media (max-width:$mobile) {

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			padding-top: rem(80);
			transform: translateX(-100%);
			transition: transform .6s ease-out;

			// &::before {
			// 	content: "";
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	z-index: -1;
			// }

			.menu-open & {
				// display: block;
				transform: translateX(0);
				transition: transform .3s ease-out;
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		justify-content: center;
		column-gap: rem(25);
		// @include adaptiveValue("margin-right", 100, 60, 1600, 720, 1);

		@media (max-width:$mobile) {
			transform: translateX(-100%);
			transition: transform .3s ease-out;
			background-color: tomato;

			.menu-open & {
				// display: block;
				transform: translateX(0);
				transition: transform .6s ease-out;
			}
		}
	}

	// .menu__item

	&__item {
		overflow: hidden;
		position: relative;
		padding-bottom: rem(3);

		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: rem(1);
			background-color: $lightText;
			bottom: 0;
			left: -100%;
			transition: all .2s ease-out;
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__link

	&__link {}
}

.icon-menu {}

.user {

	// .user__login

	&__login {
		color: #7c7c7c;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .user__slash

	&__slash {
		padding: 0 rem(5)
	}

	// .user__join

	&__join {
		color: $selectColor;
		font-weight: 600;
		transition: all .9s ease;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.main-header {

	// .main-header__container

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .main-header__title

	&__title {
		// display: inline-flex;
		// flex: 0 1 auto;
		font-size: rem(96);
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}

	// .main-header__sub-title

	&__sub-title {
		font-size: rem(24);
		text-align: center;
		max-width: rem(700);
		margin-bottom: rem(40);
		line-height: math.div(32, 24);
	}

	// .main-header__button

	&__button {
		position: relative;

		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: rotate(30deg);

				}
			}
		}

		&::before {
			content: "";
			width: 80px;
			height: 80px;
			display: block;
			position: absolute;
			top: -56px;
			right: -4px;
			transform-origin: 40px 90px;
			transform: rotate(20deg);
			transition: transform .3s ease-out;
			background: url("@img/alien-on-button-header.svg") no-repeat center;
			background-size: cover;
			// background-color: #fff;
		}
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 40px;
		height: 22.5px;
		cursor: pointer;
		z-index: 10;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
		}

		&::before {
			top: 0px;
		}

		&::after {
			bottom: 0px;
		}

		span {
			top: calc(50% - 1px);
		}

		.menu-open & {
			span {
				transform: scale(0);
			}

			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}

			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}